#div1{
    height:100px;
    width:100px;
    background-color: black;
    color:white;
    text-align:center;

}
#div2{
 
  width:100%;
  background-color: blue;
  text-align:none;
  color:red;
}
#div3{
    height:33%;
    width:50%;
    background-color: blueviolet;
    text-align: none;
    margin-left: 21px;
   margin-top:12px;
   color:black;
}